.SideMenu {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
  color: black;
  border-radius: 32px;
  height: 100%;
  &Map {
    display: flex;
    align-items: center;
    svg {
      color: chocolate;
      font-size: 24px;
    }
    li {
      color: black;
      padding: 13px;
      border-radius: 0 20px 20px 0;
      font-size: 14px;
    }
  }
}
