.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 104px;
  text-align: center;
  height: 100%;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
  span {
    color: #fca311;
    animation: color-change 5s infinite;
  }
  @keyframes color-change {
    0% {
      color: blue;
    }
    50% {
      color: red;
    }
    100% {
      color: darkgreen;
    }
  }
}
