.TimeLine {
  margin-top: 25px;
  svg {
    width: 32px;
    height: 50px;
  }
  h6 {
    font-family: sans-serif;
    color: #fb8500;
    font-size: 27px;
    font-weight: bold;
  }
  h1 {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.781);
    font-weight: bold;
  }
  h2 {
    font-family: sans-serif;
    color: #fb86008f;
    font-weight: bold;
  }
  p {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.575);
    font-weight: bold;
  }
}
